/AnalyticsService/.idea/
/AnalyticsService/DataAccess/bin/
/AnalyticsService/Domain/bin/
/AnalyticsService/Presentation/bin/
/AnalyticsService/Presentation/obj/
/AnalyticsService/DataAccess/obj/
/AnalyticsService/Domain/obj/
/.idea/
