/.idea/
/WarehouseService/.idea/
/WarehouseService/DataAccess/bin/
/WarehouseService/DataAccess/obj/
/WarehouseService/Domain/bin/
/WarehouseService/Domain/obj/
/WarehouseService/Presentation/bin/
/WarehouseService/Presentation/obj/
/WarehouseService/WarehouseServiceIntegrationTests/bin/
/WarehouseService/WarehouseServiceIntegrationTests/obj/
/WarehouseService/WarehouseServiceUnitTests/bin/
/WarehouseService/WarehouseServiceUnitTests/obj/
